@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  font-family: 'Space Mono', 'Courier New', monospace;
}

.App{
  background-color: #c5e4e7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.wrapper{
  width: 1300px;
  height: 75%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.titleImg{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.contentBlock{
  width: 100%;
  height: 85%;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.content-IncomeData,
.content-BlockCulc{
  width: 40%; 
  height: 85%;
  border: 1px solid red;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-BlockCulc{
  background-color: #00474b;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:1440px){
  .wrapper{
    width: 90%
  }
}

@media (max-width:1024px){
  .wrapper{
    width: 95%
  }
}

@media (max-width:900px){
  .contentBlock{
    flex-direction: column;
  }
  .content-IncomeData,
  .content-BlockCulc{
  width: 90%; 
  height: 100%;
  border: 1px solid red
}
}